<div class="container">
    <h1>Lists#show</h1>
    <br>
  <div class="d-flex justify-content-between align-items-center">
    <h1><%= @list.name %></h1>
    <%= link_to 'Editar nombre lista', edit_list_path(@list), class: "btn btn-success" %>
  </div>
  <br>
  <div class = "d-flex justify-content-finish align-items-center">
    <%= link_to 'Add Movie', new_list_bookmark_path(@list), class: "btn btn-success" %>
  </div>
  <br>
  <div class="d-flex justify-content-around align-items-center">
    <% @list.movies.each do |movie| %>
      <div class="card-trip">
        <img src= "<%= movie.poster_url %>" />
        <div class="card-trip-infos">
          <div>
            <h2><%= movie.title %></h2>
            <p><%= movie.overview %></p>
          </div>
            <h2 class="card-trip-pricing"><%= movie.rating %></h2>
        </div>
      </div>
    <% end %>
  </div>
</div>
<br>
